
/* carousel item new classes */
.carousel-item{
  height: 100vh;
  background-color:white;
  color: black;
}
.Heading-card{
  margin: 20px ;
}



/*This is the price 999 section css  */
.Top-section{
  color: black;
  background-color: lightblue;
}
.subtitle{
  font-size: 5rem;
  margin-top: 2px;
  margin-bottom: 2px;

}
#rs{
  font-size: 2rem;
  
}
.pr-com{
  background-color: aliceblue;
  color: black;

  margin-top: 40px;
  margin-bottom: 89px;
}
.card-link{
  margin-top: 65px;
}
.card-text{
color: black;
}
